/*=========================
    Import and Variables
==========================*/

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap");
@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");

:root {
  --main-dark-bg: #444;
  --main-light-color: #ffffff;
  --main-gold-details: #f5d626;
}

/*==================================
    Reset Browser Default Behavior 
===================================*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--main-dark-bg);
  color: var(--main-light-color);
  border: var(--main-gold-details);
}

/*==================================
            Main Style
===================================*/
